*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d1117;
    color:#f0f6fc;
    line-height:1.6;
}

/* Header */
header{
    background:linear-gradient(135deg,#0d1117,#161b22);
    text-align:center;
    padding:70px 20px;
}

header h1{
    font-size:50px;
    color:#58a6ff;
}

header p{
    font-size:20px;
    color:#c9d1d9;
    margin-top:10px;
}

/* Navigation */
nav{
    background:#161b22;
    text-align:center;
    padding:15px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#58a6ff;
}

/* Sections */
.card{
    width:85%;
    margin:40px auto;
    background:#161b22;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(88,166,255,.15);
}

.card:hover{
    transform:translateY(-5px);
    transition:.3s;
    box-shadow:0 0 20px rgba(88,166,255,.35);
}

h2{
    color:#58a6ff;
    margin-bottom:20px;
}

h3{
    margin-top:15px;
    color:#79c0ff;
}

p{
    margin:10px 0;
}

ul{
    margin-left:25px;
    margin-top:10px;
}

li{
    margin:8px 0;
}

/* Footer */
footer{
    background:#161b22;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Responsive */
@media(max-width:768px){

header h1{
font-size:35px;
}

header p{
font-size:16px;
}

.card{
width:95%;
padding:20px;
}

nav a{
display:block;
margin:10px 0;
}

}
.profile-photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 25px auto;
    border: 5px solid #58a6ff;
    box-shadow: 0 0 25px rgba(88, 166, 255, 0.6);
    transition: 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(88, 166, 255, 0.9);
}
